
// Colors
$LinearGradient: linear-gradient(180deg, hsl(236, 72%, 79%) 2%, hsl(237, 63%, 64%) 100%);  

$VeryLightGrayishBlue: hsl(240, 78%, 98%);
$LightGrayishBlue: hsl(234, 14%, 74%);
$GrayishBlue: hsl(233, 13%, 49%);
$DarkGrayishBlue: hsl(232, 13%, 33%);



// Breakpoint
$breakpoint-small: 428px;
$breakpoint-medium: 1098px;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');